## <center> <h1>Model selection and Training the Zomato dataset </h1> </center>

<img src="model.png">

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
new_df=pd.read_csv('zomato_new.csv',encoding='latin-1')
new_df.head()

,Unnamed: 0,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,...,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country
0,0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,...,Yes,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines
1,1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,...,Yes,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines
2,2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,...,Yes,No,No,No,4,4.4,Green,Very Good,270,Phillipines
3,3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,...,No,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines
4,4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,...,Yes,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines

# <br>Problem with cuisines

In [3]:
new_df['Cuisines'].sample(5)

7255                         Fast Food
6031    North Indian, Mughlai, Chinese
6157                      North Indian
2879                         Fast Food
9533                     Turkish Pizza
Name: Cuisines, dtype: object

In [4]:
len(new_df['Cuisines'].unique())

1826

In [5]:
new_df['Cuisines'].str.get_dummies(sep=',').shape

(9551, 250)

In [6]:
new_df["Cuisines"]=new_df["Cuisines"].values.astype(str)
new_df["Cuisines"].dtype

dtype('O')

In [7]:
new_df['Total_Cuisines'] = new_df.Cuisines.map(lambda x: len([i.strip() for i in x.split(",")]))
new_df.head()

,Unnamed: 0,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,...,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes,Country,Total_Cuisines
0,0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,...,No,No,No,3,4.8,Dark Green,Excellent,314,Phillipines,3
1,1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,...,No,No,No,3,4.5,Dark Green,Excellent,591,Phillipines,1
2,2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,...,No,No,No,4,4.4,Green,Very Good,270,Phillipines,4
3,3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,...,No,No,No,4,4.9,Dark Green,Excellent,365,Phillipines,2
4,4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,...,No,No,No,4,4.8,Dark Green,Excellent,229,Phillipines,2

In [8]:
new_df.City.unique()

array(['Makati City', 'Mandaluyong City', 'Pasay City', 'Pasig City',
       'Quezon City', 'San Juan City', 'Santa Rosa', 'Tagaytay City',
       'Taguig City', 'BrasÃƒ\xad_lia', 'Rio de Janeiro',
       'SÃƒ\xadÃ‚Â£o Paulo', 'Albany', 'Armidale', 'Athens', 'Augusta',
       'Balingup', 'Beechworth', 'Boise', 'Cedar Rapids/Iowa City',
       'Chatham-Kent', 'Clatskanie', 'Cochrane', 'Columbus', 'Consort',
       'Dalton', 'Davenport', 'Des Moines', 'Dicky Beach', 'Dubuque',
       'East Ballina', 'Fernley', 'Flaxton', 'Forrest', 'Gainesville',
       'Hepburn Springs', 'Huskisson', 'Inverloch', 'Lakes Entrance',
       'Lakeview', 'Lincoln', 'Lorn', 'Macedon', 'Macon', 'Mayfield',
       'Mc Millan', 'Middleton Beach', 'Miller', 'Monroe', 'Montville',
       'Ojo Caliente', 'Orlando', 'Palm Cove', 'Paynesville', 'Penola',
       'Pensacola', 'Phillip Island', 'Pocatello', 'Potrero', 'Princeton',
       'Rest of Hawaii', 'Savannah', 'Singapore', 'Sioux City',
       'Tampa Bay', 'Tanunda', 'Trentham East', 'Valdosta', 'Vernonia',
       'Victor Harbor', 'Vineland Station', 'Waterloo', 'Weirton',
       'Winchester Bay', 'Yorkton', 'Abu Dhabi', 'Dubai', 'Sharjah',
       'Agra', 'Ahmedabad', 'Allahabad', 'Amritsar', 'Aurangabad',
       'Bangalore', 'Bhopal', 'Bhubaneshwar', 'Chandigarh', 'Chennai',
       'Coimbatore', 'Dehradun', 'Faridabad', 'Ghaziabad', 'Goa',
       'Gurgaon', 'Guwahati', 'Hyderabad', 'Indore', 'Jaipur', 'Kanpur',
       'Kochi', 'Kolkata', 'Lucknow', 'Ludhiana', 'Mangalore', 'Mohali',
       'Mumbai', 'Mysore', 'Nagpur', 'Nashik', 'New Delhi', 'Noida',
       'Panchkula', 'Patna', 'Puducherry', 'Pune', 'Ranchi',
       'Secunderabad', 'Surat', 'Vadodara', 'Varanasi', 'Vizag',
       'Bandung', 'Bogor', 'Jakarta', 'Tangerang', 'Auckland',
       'Wellington City', 'Birmingham', 'Edinburgh', 'London',
       'Manchester', 'Doha', 'Cape Town', 'Inner City', 'Johannesburg',
       'Pretoria', 'Randburg', 'Sandton', 'Colombo', 'Ankara',
       'Ãƒ\x9bÃƒ\x81stanbul'], dtype=object)

In [11]:
len(new_df.City.unique())

141

Number of cities is very high. So to create dummy variables for all cities will be compuationally very expensive. So we will skip it.

In [9]:
len(new_df['Country'].unique())

15

In [10]:
len(new_df['Currency'].unique())

12

Unlike citites number of Country and Currency values are very less. So we will create dummy variables for athis two features.

# <br>Final subset of attributes for training

In [11]:
final_df = new_df[['Country', 'Average Cost for two', 'Currency','Total_Cuisines', 'Has Table booking',
       'Has Online delivery','Price range', 'Votes', 'Aggregate rating']]
final_df.head()

,Country,Average Cost for two,Currency,Total_Cuisines,Has Table booking,Has Online delivery,Price range,Votes,Aggregate rating
0,Phillipines,1100,Botswana Pula(P),3,Yes,No,3,314,4.8
1,Phillipines,1200,Botswana Pula(P),1,Yes,No,3,591,4.5
2,Phillipines,4000,Botswana Pula(P),4,Yes,No,4,270,4.4
3,Phillipines,1500,Botswana Pula(P),2,No,No,4,365,4.9
4,Phillipines,1500,Botswana Pula(P),2,Yes,No,4,229,4.8

In [12]:
final_df.shape

(9551, 9)

# Creating dummy variables for Country and Currency

<img src="dummy2.jpg" width="600">

In [13]:
dummy_df = pd.get_dummies(final_df[['Country', 'Currency']])
dummy_df.head()

,Country_Australia,Country_Brazil,Country_Canada,Country_India,Country_Indonesia,Country_New Zealand,Country_Phillipines,Country_Qatar,Country_Singapore,Country_South Africa,...,Currency_Dollar($),Currency_Emirati Diram(AED),Currency_Indian Rupees(Rs.),Currency_Indonesian Rupiah(IDR),Currency_NewZealand($),Currency_Pounds(Ã‚ÂŒÃ‚Â£),Currency_Qatari Rial(QR),Currency_Rand(R),Currency_Sri Lankan Rupee(LKR),Currency_Turkish Lira(TL)
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [14]:
dummy_df.shape

(9551, 27)

In [15]:
final_df = pd.concat([dummy_df, final_df], axis=1)
final_df.head()

,Country_Australia,Country_Brazil,Country_Canada,Country_India,Country_Indonesia,Country_New Zealand,Country_Phillipines,Country_Qatar,Country_Singapore,Country_South Africa,...,Currency_Turkish Lira(TL),Country,Average Cost for two,Currency,Total_Cuisines,Has Table booking,Has Online delivery,Price range,Votes,Aggregate rating
0,0,0,0,0,0,0,1,0,0,0,...,0,Phillipines,1100,Botswana Pula(P),3,Yes,No,3,314,4.8
1,0,0,0,0,0,0,1,0,0,0,...,0,Phillipines,1200,Botswana Pula(P),1,Yes,No,3,591,4.5
2,0,0,0,0,0,0,1,0,0,0,...,0,Phillipines,4000,Botswana Pula(P),4,Yes,No,4,270,4.4
3,0,0,0,0,0,0,1,0,0,0,...,0,Phillipines,1500,Botswana Pula(P),2,No,No,4,365,4.9
4,0,0,0,0,0,0,1,0,0,0,...,0,Phillipines,1500,Botswana Pula(P),2,Yes,No,4,229,4.8

In [16]:
final_df.shape

(9551, 36)

In [17]:
final_df.drop(['Country', 'Currency'], axis=1, inplace=True)

In [18]:
final_df.shape

(9551, 34)

In [19]:
final_df['Has Table booking'] = final_df['Has Table booking'].map({'Yes': 1, 'No': 0})
final_df['Has Online delivery'] = final_df['Has Online delivery'].map({'Yes': 1, 'No': 0})

final_df.head()

,Country_Australia,Country_Brazil,Country_Canada,Country_India,Country_Indonesia,Country_New Zealand,Country_Phillipines,Country_Qatar,Country_Singapore,Country_South Africa,...,Currency_Rand(R),Currency_Sri Lankan Rupee(LKR),Currency_Turkish Lira(TL),Average Cost for two,Total_Cuisines,Has Table booking,Has Online delivery,Price range,Votes,Aggregate rating
0,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1100,3,1,0,3,314,4.8
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1200,1,1,0,3,591,4.5
2,0,0,0,0,0,0,1,0,0,0,...,0,0,0,4000,4,1,0,4,270,4.4
3,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1500,2,0,0,4,365,4.9
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,1500,2,1,0,4,229,4.8

In [20]:
final_df.dtypes

Country_Australia                    uint8
Country_Brazil                       uint8
Country_Canada                       uint8
Country_India                        uint8
Country_Indonesia                    uint8
Country_New Zealand                  uint8
Country_Phillipines                  uint8
Country_Qatar                        uint8
Country_Singapore                    uint8
Country_South Africa                 uint8
Country_Sri Lanka                    uint8
Country_Turkey                       uint8
Country_UAE                          uint8
Country_United Kingdom               uint8
Country_United States                uint8
Currency_Botswana Pula(P)            uint8
Currency_Brazilian Real(R$)          uint8
Currency_Dollar($)                   uint8
Currency_Emirati Diram(AED)          uint8
Currency_Indian Rupees(Rs.)          uint8
Currency_Indonesian Rupiah(IDR)      uint8
Currency_NewZealand($)               uint8
Currency_Pounds(Ã‚ÂŒÃ‚Â£)                uint8
Currency_Qatari Rial(QR)             uint8
Currency_Rand(R)                     uint8
Currency_Sri Lankan Rupee(LKR)       uint8
Currency_Turkish Lira(TL)            uint8
Average Cost for two                 int64
Total_Cuisines                       int64
Has Table booking                    int64
Has Online delivery                  int64
Price range                          int64
Votes                                int64
Aggregate rating                   float64
dtype: object

In [21]:
X = final_df.drop('Aggregate rating', axis=1)
y = final_df['Aggregate rating']

In [22]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
X_train.shape, X_test.shape

((7640, 33), (1911, 33))

In [24]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [25]:
X_train

array([[-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
         1.3159881 , -0.23251182],
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
        -0.89298676, -0.35448121],
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
        -0.89298676, -0.36386347],
       ...,
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
        -0.89298676, -0.36386347],
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
         2.42047553, -0.20905617],
       [-0.04859614, -0.07867599, -0.01144147, ...,  1.70467899,
         0.21150067,  0.09352174]])

In [26]:
X_test

array([[-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
        -0.89298676, -0.23720295],
       [-0.04859614, -0.07867599, -0.01144147, ...,  1.70467899,
         0.21150067, -0.166836  ],
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
         0.21150067, -0.27942313],
       ...,
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
         0.21150067, -0.34040782],
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
         1.3159881 ,  0.41955529],
       [-0.04859614, -0.07867599, -0.01144147, ..., -0.58662071,
         1.3159881 ,  0.64003842]])

# Model Training

In [27]:
from sklearn.model_selection import RandomizedSearchCV
from sklearn.tree import DecisionTreeRegressor
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsRegressor

In [28]:
# Define the model
model = DecisionTreeRegressor()

# Define the hyperparameter space to search
param_distributions = {
    "max_depth": [None, 1, 2, 3, 4, 5],
    "min_samples_split": np.arange(2, 21),
    "min_samples_leaf": np.arange(1, 21),
    "max_features": [None, "sqrt", "log2"]
}

# Define the randomized search
random_search = RandomizedSearchCV(
    model,
    param_distributions=param_distributions,
    n_iter=10,
    cv=5,
    random_state=42
)

# Perform the search
random_search.fit(X_train, y_train)

# Print the best hyperparameters
print("Best hyperparameters:", random_search.best_params_)

# Print the best score
print("Best score:", random_search.best_score_)

Best hyperparameters: {'min_samples_split': 17, 'min_samples_leaf': 2, 'max_features': None, 'max_depth': 5}
Best score: 0.9480479980811177

In [29]:
random_search.predict(X_test)

array([3.22946429, 3.22946429, 3.22946429, ..., 2.96398305, 3.81011029,
       4.32241379])

In [30]:
np.array(y_test)

array([2.1, 4.1, 3.2, ..., 3.1, 4.2, 4.3])

In [31]:
random_search.score(X_test, y_test)

0.9501736276224043

In [32]:
# Define the model
model = SVR()

# Define the hyperparameter space to search
param_distributions = {
    "C": [1, 5, 10, 5, 20],
    "kernel": ["linear", "rbf", "poly", "sigmoid"]
}

# Define the randomized search
random_search = RandomizedSearchCV(
    model,
    param_distributions=param_distributions,
    n_iter=4,
    cv=5,
    random_state=42
)

# Perform the search
random_search.fit(X_train, y_train)

# Print the best hyperparameters
print("Best hyperparameters:", random_search.best_params_)

# Print the best score
print("Best score:", random_search.best_score_)

Best hyperparameters: {'kernel': 'rbf', 'C': 20}
Best score: 0.37049860999953826

In [33]:
random_search.score(X_test, y_test)

0.41159638995936576

In [34]:
# Define the model
model = KNeighborsRegressor()

# Define the hyperparameter space to search
param_distributions = {
    "n_neighbors": range(1, 11),
    "weights": ["uniform", "distance"],
    "algorithm": ["auto", "ball_tree", "kd_tree", "brute"],
    "p": [1, 2],
    "leaf_size": range(10, 51)
}

# Define the randomized search
random_search = RandomizedSearchCV(
    model,
    param_distributions=param_distributions,
    n_iter=10,
    cv=5,
    random_state=42
)

# Perform the search
random_search.fit(X_train, y_train)

# Print the best hyperparameters
print("Best hyperparameters:", random_search.best_params_)

# Print the best score
print("Best score:", random_search.best_score_)

Best hyperparameters: {'weights': 'distance', 'p': 1, 'n_neighbors': 7, 'leaf_size': 43, 'algorithm': 'brute'}
Best score: 0.9173422136827737

In [35]:
random_search.score(X_test, y_test)

0.9103349444775424

# Observation :  Decision tree is working better.